/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.no-print, .no-print * {
	display		:none !important;
}
@page {
	size		:portrait;
	margin		:10mm 15mm 10mm 10mm !important;
}
html {
	padding		:10mm 15mm 10mm 10mm !important;
	margin		:0mm;
}
body {
	border		:1px dashed white;
	color		:#000000;
	background	:#ffffff;
	font-size	:12pt;
	font-family	:"Times New Roman", serif;
	width		:210mm;
	padding		:0mm;
	margin		:0mm;
}
h1 {
	font-size	:20pt;
	font-weight	:bold;
	margin		:10px 0px;
	text-align	:center;
}
h2 {
	font-weight	:bold;
	font-size	:16pt;
	margin		:20px 0px;
}
table {
	width		:100%;
}
th,td {
	padding		:10px;
	border		:1px silver solid;
}
th {
	font-weight	:bold;
}
table.asset tr th {
	text-align	:left;
	width		:200px;
}
table.asset tr th[colspan="3"] {
	text-align	:center;
	border-left	:none;
	border-right:none;
	padding-top	:10px;
}
table.maintenance tr th:nth-child(1) {
	width		:20%
}
table.maintenance tr th:nth-child(2) {
	width	:60%
}
table.maintenance tr th:nth-child(3) {
	width	:20%
}
table.assign td:nth-child(1) {
	width	:20%;
}
table.assign td:nth-child(2) {
	width	:30%;
}
table.assign td:nth-child(3) {
	width	:30%;
}
table.assign td:nth-child(4) {
	width	:20%;
}
.money {
	text-align	:right;
	font-family	:monospace;
}
.profile {
	width			:100%;
	text-align		:center;
	padding-bottom	:10px;
	margin-bottom	:20px;
	border-bottom	:1px silver solid;
}
.profile > div {
	padding		:10px 0px 0px;
}
.profile_logo {
	float		:left;
}
.profile_logo img {
	width		:80px;
}
.profile_name {
	font-size	:24pt;
	font-weight	:bold;
}
.profile_address {
	font-size	:9pt;
}
.profile_contact {
	font-size	:9pt;
}
