/*
	Elements
*/
body {
	background-image	:url(../../images/home/wallpaper.jpg) !important;
	background-repeat	:no-repeat !important;
	background-size		:cover !important;
}

/*
	Icons
*/
.login	{ background: 0px 0px/16px 16px url(../../images/icons/login.svg) no-repeat !important; }

/*
	ID
*/
#poweredby {
    position			: absolute;
    bottom				: 20px;
    right				: 20px;
    z-index				: 15000;
    /* IE 5-7 */
    filter				: alpha(opacity=70);
    /* Netscape */
    -moz-opacity		: 0.7;
    /* Safari 1.x */
    -khtml-opacity		: 0.7;
    /* Good browsers */
    opacity				: 0.7;
}

#poweredby div {
    position			: relative;
    width				: 150px;
    height				: 25px;
    background-image	: url(../../images/home/powered-by-ext-js.png);
    background-repeat	: no-repeat;
}
