/*
Copyright 2014 - Mhd Sulhan
Authors:
  - mhd.sulhan (m.shulhan@gmail.com)
*/

/*
	Application style.
*/
.ref		{ background: 0px 0px/16px 16px url("../../images/icons/reference.svg") no-repeat !important; }
.asset		{ background: 0px 0px/16px 16px url("../../images/icons/asset.svg") no-repeat !important; }
.barcode	{ background: 0px 0px/16px 16px url("../../images/icons/barcode.svg") no-repeat !important; }
