/*
	Header's icons
*/
.account				{ background-image: url("../../images/account.png") !important; }
.profile				{ background-image: url("../../images/profile.png") !important; }
.change-password		{ background-image: url("../../images/change-password.png") !important; }
.logout					{ background-image: url("../../images/logout.png") !important; }
/*
	Menu's icons
*/
.home				{ background-image: url("../../images/home.png") !important; }
.dashboard			{ background-image: url("../../images/dashboard.png") !important; }
.sys				{ background-image: url("../../images/sys.png") !important; }
.user				{ background-image: url("../../images/user.png") !important; }
.group				{ background-image: url("../../images/group.png") !important; }
.menu				{ background-image: url("../../images/menu.png") !important; }
/*
	Button's icons
*/
.add					{ background-image: url("../../images/add.png") !important; }
.edit					{ background-image: url("../../images/edit.png") !important; }
.delete					{ background-image: url("../../images/delete.png") !important; }
.refresh				{ background-image: url("../../images/refresh.png") !important; }
.save					{ background-image: url("../../images/save.png") !important; }
.cancel					{ background-image: url("../../images/cancel.png") !important; }
.add-multiple			{ background-image: url("../../images/add-multiple.png") !important; }
.delete-row				{ background-image: url("../../images/delete-row.png") !important; }
/*
	Form's icons
*/
.form-add				{ background-image: url("../../images/form-add.png") !important; }
.form-edit				{ background-image: url("../../images/form-edit.png") !important; }
.form-save				{ background-image: url("../../images/form-save.png") !important; }
.form-cancel			{ background-image: url("../../images/form-cancel.png") !important; }
.form-search			{ background-image: url("../../images/form-search.png") !important; }
.form-browse			{ background-image: url("../../images/form-browse.png") !important; }
.form-clear				{ background-image: url("../../images/form-clear.png") !important; }
.form-upload			{ background-image: url("../../images/form-upload.png") !important; }
.form-edit-history		{ background-image: url("../../images/form-edit-history.png") !important; }
.form-add-multiple		{ background-image: url("../../images/form-add-multiple.png") !important; }
/*
	Panel's icons
*/
.panel-add				{ background-image: url("../../images/panel-add.png") !important; }
.panel-next				{ background-image: url("../../images/panel-next.png") !important; }
.panel-prev				{ background-image: url("../../images/panel-prev.png") !important; }


/* header and footer */
#MainHeader {
	background-image	:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8fc33a),color-stop(100%,#739b2e));
	background-image	:-webkit-linear-gradient(top,#8fc33a,#739b2e);
	background-image	:-moz-linear-gradient(top,#8fc33a,#739b2e);
	background-image	:-o-linear-gradient(top,#8fc33a,#739b2e);
	background-image	:linear-gradient(top,#8fc33a,#739b2e);
	border-bottom		:1px solid #567422;
}

#MainHeaderText {
	padding		:6px 10px 10px 40px;
	background	:url(../../images/logo.png) no-repeat 10px 8px;
	color		:white;
	font-size	:24px;
	font-weight	:bold;
	text-shadow	:0 1px 0 #4e691f;
}

#MainFooter {
	text-align	:center;
	color		:white;
	font-size	:12px;
	text-shadow	:0 1px 0 #4e691f;
}

/*
	Loading
*/
#loading-mask {
	background-color:white;
	height			:100%;
	position		:absolute;
	left			:0;
	top				:0;
	width			:100%;
	z-index			:20000;
}
#loading {
	height			:auto;
	position		:absolute;
	left			:43%;
	top				:40%;
	padding			:2px;
	z-index			:20001;
}
#loading a {
	color			:#225588;
}
#loading .loading-indicator{
	background		:white;
	color			:#444;
	font			:bold 13px Helvetica, Arial, sans-serif;
	height			:auto;
	margin			:0;
	padding			:10px;
}
#loading-msg {
	font-size		: 10px;
	font-weight		: normal;
}


/*
	Home menus
*/
.panel-background {
	background				: url(../../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size	: cover;
	-moz-background-size	: cover;
	-o-background-size		: cover;
	background-size			: cover;
}
#home-menus {
    text-shadow	: #fff 0 1px 0;
    position	: relative;
    display		: block;
    height		: auto;
}
#home-menus div.home-menu img {
    margin-bottom	: 1px;
}
#home-menus div.home-menu {
    float		: left;
    padding		: 8px 17px;
    margin		: 5px;
    text-align	: center;
    line-height	: 14px;
    color		: #333;
    font-size	: 10px;
    font-family	: "Helvetica Neue",sans-serif;
    height		: 190px;
    width		: 180px;
    overflow	: hidden;
    border-top	: 1px solid transparent;
    cursor		: pointer;
}

.x-ie6 #home-menus div.home-menu,
.x-ie7 #home-menus div.home-menu,
.x-ie8 #home-menus div.home-menu {
    border-top	: none;
    padding		: 3px 2px;
    margin		: 2px;
}

#home-menus div.home-menu-hover {
    background-color: #eee;
}

#home-menus .x-item-selected {
    background-color: #D3E1F1 !important;
}

#home-menus div.home-menu strong {
    color	: #000;
    display	: block;
}

#home-menus div.home-menu span {
    color: #999;
}

/*
	style rows on mouseover
*/
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}
.x-livesearch-match {
    font-weight		: bold;
    background-color: yellow;
}

/*
	StatusBar - structure
*/
.x-statusbar .x-status-text {
    cursor			: default;
}
.x-statusbar .x-status-busy {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top		: 1px solid;
    border-right	: 1px solid;
    border-bottom	: 1px solid;
    border-left		: 1px solid;
    padding			: 2px 8px 2px 5px;
}

/*
	StatusBar word processor example styles
*/
#word-status .x-status-text-panel .spacer {
    width			: 60px;
    font-size		:0;
    line-height		:0;
}
#word-status .x-status-busy {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}

/*
	StatusBar form validation example styles
*/
.x-statusbar .x-status-error {
    cursor			: pointer;
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font			: 11px tahoma,arial,verdana,sans-serif;
    position		: absolute;
    z-index			: 9999;
    border-top		: 1px solid;
    border-right	: 1px solid;
    border-bottom	: 1px solid;
    border-left		: 1px solid;
    padding			: 5px 10px;
}
.x-status-error-list li {
    cursor			: pointer;
    list-style		: disc;
    margin-left		: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */

/*
	StatusBar - visual
*/
.x-statusbar .x-status-busy {
    background-image	: url("../../images/loading-gif.gif");
}
.x-statusbar .x-status-text-panel {
    border-color		: #99bbe8 #fff #fff #99bbe8;
}

/*
	StatusBar word processor example styles
*/
#word-status .x-status-text {
    color				: #777;
}
#word-status .x-status-busy {
    background-image	: url("../../images/saving.gif");
}
#word-status .x-status-saved {
    background-image	: url("../../images/saved.png");
}

/*
	StatusBar form validation example styles
*/
.x-statusbar .x-status-error {
    color				: #C33;
    background-image	: url("../../images/exclamation.gif");
}
.x-statusbar .x-status-valid {
    background-image	: url("../../images/accept.png");
}
.x-status-error-list {
    border-color		: #C33;
    background			: white;
}
.x-status-error-list li a {
    color				: #15428B;
}
/*
	check combo
*/ 
.x-combo-checker { 
	background-position	: 50% -2px; 
	margin-left			: 1px; 
	background-color	: transparent; 
	background-image	: url("../../images/unchecked.png"); 
	background-position	: -1px -1px; 
	background-repeat	: no-repeat; 
	height				: 14px; 
	width				: 14px; 
	display				: inline-block; 
} 
.x-boundlist-selected .x-combo-checker { 
	background-image	: url("../../images/checked.png"); 
}
