/*
	Menu's icons
*/
.home				{ background-image: url("../../images/home.png") !important; }
.account			{ background-image: url("../../images/account.png") !important; }
.profile			{ background-image: url("../../images/profile.png") !important; }
.change-password	{ background-image: url("../../images/change-password.png") !important; }
.logout				{ background-image: url("../../images/logout.png") !important; }
.sys				{ background-image: url("../../images/sys.png") !important; }
.user				{ background-image: url("../../images/user.png") !important; }
.group				{ background-image: url("../../images/group.png") !important; }
.menu				{ background-image: url("../../images/menu.png") !important; }
/*
	Button's icons
*/
.add	{ background-image: url("../../images/add.png") !important; }
.edit	{ background-image: url("../../images/edit.png") !important; }
.delete	{ background-image: url("../../images/delete.png") !important; }
.refresh{ background-image: url("../../images/refresh.png") !important; }
.save	{ background-image: url("../../images/save.png") !important; }
.cancel	{ background-image: url("../../images/cancel.png") !important; }

/* header and footer */
#app-header{
	padding:6px 10px 10px 40px;
	background:url(../../images/logo.png) no-repeat 10px 8px;
	color:white;
	font-size:24px;
	font-weight:bold;
	text-shadow:0 1px 0 #4e691f
}

#app-background {
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8fc33a),color-stop(100%,#739b2e));background-image:-webkit-linear-gradient(top,#8fc33a,#739b2e);background-image:-moz-linear-gradient(top,#8fc33a,#739b2e);background-image:-o-linear-gradient(top,#8fc33a,#739b2e);background-image:linear-gradient(top,#8fc33a,#739b2e);border-bottom:1px solid #567422
}

#app-footer{
	text-align:center;
	color:white;
	font-size:12px;
	text-shadow:0 1px 0 #4e691f
}
