/*
	Copyright 2014 Mhd Sulhan
	Authors:
		- mhd.sulhan (m.shulhan@gmail.com)
*/
/*
	Header's icons
*/
.account			{ background: 0px 0px/24px 24px url("/images/icons/user.svg") no-repeat !important; }
.profile			{ background: 0px 0px/16px 16px url("/images/icons/profile.svg") no-repeat !important; }
.change-password	{ background: 0px 0px/16px 16px url("/images/icons/change-password.svg") no-repeat !important; }
.logout				{ background: 0px 0px/16px 16px url("/images/icons/logout.svg") no-repeat !important; }
/*
	Menu's icons
*/
.home				{ background: 0px 0px/16px 16px url("/images/icons/home.svg") no-repeat !important; }
.dashboard			{ background: 0px 0px/16px 16px url("/images/icons/dashboard.svg") no-repeat !important; }
.sys				{ background: 0px 0px/16px 16px url("/images/icons/sys.svg") no-repeat !important; }
.user				{ background: 0px 0px/16px 16px url("/images/icons/user.svg") no-repeat !important; }
.group				{ background: 0px 0px/16px 16px url("/images/icons/group.svg") no-repeat !important; }
.menu				{ background: 0px 0px/16px 16px url("/images/icons/menu.svg") no-repeat !important; }
.media				{ background: 0px 0px/16px 16px url("/images/icons/media.svg") no-repeat !important; }
/*
	Button's icons
*/
.add					{ background-image: url("/images/icons/add.png") !important; }
.edit					{ background-image: url("/images/icons/edit.png") !important; }
.delete					{ background-image: url("/images/icons/delete.png") !important; }
.refresh				{ background-image: url("/images/icons/refresh.png") !important; }
.save					{ background-image: url("/images/icons/save.png") !important; }
.cancel					{ background-image: url("/images/icons/cancel.png") !important; }
.add-multiple			{ background-image: url("/images/icons/add-multiple.png") !important; }
.delete-row				{ background-image: url("/images/icons/delete-row.png") !important; }
.print					{ background-image: url("/images/icons/print.png") !important; }
.copy					{ background: 0px 0px/16px 16px url("/images/icons/copy.svg") !important; }
.import					{ background: 0px 0px/16px 16px url("/images/icons/import.svg") !important; }
/*
	Form's icons
*/
.form-add				{ background-image: url("/images/icons/form-add.png") !important; }
.form-edit				{ background-image: url("/images/icons/form-edit.png") !important; }
.form-save				{ background-image: url("/images/icons/check.png") !important; }
.form-cancel			{ background-image: url("/images/icons/delete.png") !important; }
.form-search			{ background-image: url("/images/icons/form-search.png") !important; }
.form-browse			{ background-image: url("/images/icons/form-browse.png") !important; }
.form-clear				{ background-image: url("/images/icons/form-clear.png") !important; }
.form-upload			{ background-image: url("/images/icons/form-upload.png") !important; }
.form-edit-history		{ background-image: url("/images/icons/form-edit-history.png") !important; }
.form-add-multiple		{ background-image: url("/images/icons/form-add-multiple.png") !important; }
/*
	Panel's icons
*/
.panel-add				{ background-image: url("/images/icons/panel-add.png") !important; }
.panel-next				{ background-image: url("/images/icons/panel-next.png") !important; }
.panel-prev				{ background-image: url("/images/icons/panel-prev.png") !important; }


/*
	Header and footer.
*/
#main_header {
	/* Old browsers */
	background: #000000;
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #000000 0%, #45484d 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #000000 0%,#45484d 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #000000 0%,#45484d 100%);
	/* W3C */
	background: linear-gradient(to bottom, #000000 0%,#45484d 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 );
}

#main_header_logo {
	margin		: 10px 10px 0px 10px;
}

#main_header_logo img {
	height		: 42px;
}

#main_header_text {
	color		:white;
	font-size	:20px;
	font-weight	:bold;
	text-shadow	:0 1px 0 #4e691f;
	z-index		:auto;
}

#main_footer {
	text-align		:center;
	color			:white;
	font-size		:12px;
	text-shadow		:0 1px 0 #4e691f;
}

#main_footer a:link, #main_footer a:visited {
	text-decoration	:none;
	color			:white;
}

/*
	Loading
*/
#loading-mask {
	background-color:white;
	height			:100%;
	position		:absolute;
	left			:0;
	top				:0;
	width			:100%;
	z-index			:20000;
}
#loading {
	height			:auto;
	position		:absolute;
	left			:43%;
	top				:40%;
	padding			:2px;
	z-index			:20001;
}
#loading a {
	color			:#225588;
}
#loading .loading-indicator{
	background		:white;
	color			:#444;
	font			:bold 13px Helvetica, Arial, sans-serif;
	height			:auto;
	margin			:0;
	padding			:10px;
}
#loading-msg {
	font-size		: 10px;
	font-weight		: normal;
}


/*
	Home menus
*/
.panel-background {
	background		: url(/images/background.gif) repeat;
}
#home-menus {
    text-shadow	: #fff 0px 1px 0px;
    position	: relative;
    display		: block;
    height		: auto;
}
#home-menus div.home-menu {
    float		: left;
    padding		: 8px 17px;
    margin		: 5px;
    text-align	: center;
    line-height	: 14px;
    color		: #333;
    font-size	: 16px;
    font-family	: "Helvetica Neue",sans-serif;
    height		: auto;
    width		: 200px;
    overflow	: hidden;
    border-top	: 1px solid transparent;
    cursor		: pointer;
}
#home-menus div.home-menu img {
    margin-bottom	: 1px;
}

.x-ie6 #home-menus div.home-menu,
.x-ie7 #home-menus div.home-menu,
.x-ie8 #home-menus div.home-menu {
    border-top	: none;
    padding		: 3px 2px;
    margin		: 2px;
}

#home-menus div.home-menu-hover {
    background-color: #eee;
}

#home-menus .x-item-selected {
    background-color: #D3E1F1 !important;
}

#home-menus div.home-menu h3 {
    color	: #000;
    display	: block;
}

#home-menus div.home-menu span {
    color	: #3e3e3e;
    display	: block;
}

/*
	style rows on mouseover
*/
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}
.x-livesearch-match {
    font-weight		: bold;
    background-color: yellow;
}

/*
	StatusBar - structure
*/
.x-statusbar .x-status-text {
    cursor			: default;
}
.x-statusbar .x-status-busy {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top		: 1px solid;
    border-right	: 1px solid;
    border-bottom	: 1px solid;
    border-left		: 1px solid;
    padding			: 2px 8px 2px 5px;
}

/*
	StatusBar word processor example styles
*/
#word-status .x-status-text-panel .spacer {
    width			: 60px;
    font-size		:0;
    line-height		:0;
}
#word-status .x-status-busy {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}

/*
	StatusBar form validation example styles
*/
.x-statusbar .x-status-error {
    cursor			: pointer;
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left	: 25px !important;
    background		: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font			: 11px tahoma,arial,verdana,sans-serif;
    position		: absolute;
    z-index			: 9999;
    border-top		: 1px solid;
    border-right	: 1px solid;
    border-bottom	: 1px solid;
    border-left		: 1px solid;
    padding			: 5px 10px;
}
.x-status-error-list li {
    cursor			: pointer;
    list-style		: disc;
    margin-left		: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */

/*
	StatusBar - visual
*/
.x-statusbar .x-status-busy {
    background-image	: url("/images/statusbar/loading.gif");
}
.x-statusbar .x-status-text-panel {
    border-color		: #99bbe8 #fff #fff #99bbe8;
}

/*
	StatusBar word processor example styles
*/
#word-status .x-status-text {
    color				: #777;
}
#word-status .x-status-busy {
    background-image	: url("/images/statusbar/saving.gif");
}
#word-status .x-status-saved {
    background-image	: url("/images/statusbar/saved.png");
}

/*
	StatusBar form validation example styles
*/
.x-statusbar .x-status-error {
    color				: #C33;
    background-image	: url("/images/statusbar/exclamation.gif");
}
.x-statusbar .x-status-valid {
    background-image	: url("/images/statusbar/accept.png");
}
.x-status-error-list {
    border-color		: #C33;
    background			: white;
}
.x-status-error-list li a {
    color				: #15428B;
}

/*
	check combo
*/
.x-combo-checker {
	background-position	: 50% -2px;
	margin-left			: 1px;
	background-color	: transparent;
	background-image	: url("/images/checkbox/unchecked.png");
	background-position	: -1px -1px;
	background-repeat	: no-repeat;
	height				: 14px;
	width				: 14px;
	display				: inline-block;
}
.x-boundlist-selected .x-combo-checker {
	background-image	: url("/images/checkbox/checked.png");
}
